@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <br />
    <div class="well col-md-10 col-md-offset-1">
        <h1 class="text-center">Choose filter!</h1>
    </div>
</div>

<div class="row">
    <div class="well col-md-10 col-md-offset-1">
        <h2 class="text-center">Taxes witch are expiring today!</h2>
        <br />
        <ul class="filterList col-md-offset-2">
            <li class="listitems col-md-3 text-center"></li>
            <li class="listitems col-md-3 text-center">@Html.ActionLink("Filter By Annual Check Up", "FilterExpiringByAnnualCheckUpToday")</li>
            <li class="listitems col-md-3 text-center">@Html.ActionLink("Filter By Vignette", "FilterExpiringByVignetteToday")</li>
            <li class="listitems col-md-3 text-center">@Html.ActionLink("Filter By Insurance", "FilterExpiringByInsuranceToday")</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="well col-md-10 col-md-offset-1">
        <h2 class="text-center">Taxes witch are expiring in the next seven days!</h2>
        <br />
        <ul class="filterList col-md-offset-2">
            <li class="listitems col-md-3 text-center"></li>
            <li class="listitems col-md-3 text-center">@Html.ActionLink("Filter By Annual Check Up", "FilterExpiringByAnnualCheckUpInTheNextSevenDays")</li>
            <li class="listitems col-md-3 text-center">@Html.ActionLink("Filter By Vignette", "FilterExpiringByVignetteInTheNextSevenDays")</li>
            <li class="listitems col-md-3 text-center">@Html.ActionLink("Filter By Insurance", "FilterExpiringByInsuranceInTheNextSevenDays")</li>
        </ul>
    </div>
</div>